<html lang="ko">
    <head>
        <meta charset="UTF-8">
        {% include "pr_page/bootstrap.html" %}
        {% include "pr_page/head.html" %}
    </head>
    <body>
        <div class="container">
            <div class="layout-contents look-size">
                <div class="layout-contents-title">
                    오픈/리뉴얼
                </div>
                <div class="layout-contents-board-info">
                    Total 12435건 1페이지
                </div>
                <div class="layout-contents-filter">
                    전체 | 디자인광고 | 그룹기업
                </div>
                <div class="layout-contents-body">
                    <table>
                        <tr>
                            <th class="board-thumbnail">
                                1번?
                                <div class="gall_image">
                                    <!--<a href="사이트링크" target="_blank"></a>-->
                                </div>
                                <div class="gall_text">
                                </div>
                                <div class="gall_info">
                                </div>
                            </th>
                            <th class="board-thumbnail">
                                2번정보
                                <div class="gall_image">
                                </div>
                                <div class="gall_text">
                                </div>
                                <div class="gall_info">
                                </div>
                            </th>
                            <th class="board-thumbnail">
                                3번정보
                                <div class="gall_image">
                                </div>
                                <div class="gall_text">
                                </div>
                                <div class="gall_info">
                                </div>
                            </th>
                            <th class="board-thumbnail">
                                4번정보
                                <div class="gall_image">
                                </div>
                                <div class="gall_text">
                                </div>
                                <div class="gall_info">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>5번정보</th>
                            <th>6번정보</th>
                        </tr>
                    </table>
                </div>
                <div class="layout-contents-search">
                    검색
                </div>
                <div class="layout-contents-pages">
                    페이지
                </div>
            </div>
        </div>
    </body>
</html>