<div class="layout-g-temporary look-size">
    <img src="/static/img/advertise.png" class="img-fluid">

    <div class="layout-g-title font-board-title mb-2">
        오픈/리뉴얼
    </div>
    <div class="layout-g-board-info">
        <div class="layout-g-page-count">
            Total
            <string style="font-weight: bold;">12435</strong>
            건 1페이지
        </div>
        <div class="layout-g-page-order">
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="btn btn-secondary layout-g-page-order-btn" href="#" role="button">평가</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary layout-g-page-order-btn" href="#" role="button">조회</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary layout-g-page-order-btn" href="#" role="button">의견</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary layout-g-page-order-btn layout-g-page-order-btn-active" href="#" role="button">등록일</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="layout-g-fltr">
        <div class="layout-g-fltr-menu">
            <ul class="nav layout-g-fltr-list">
                <li class="nav-item layout-g-fltr-item">
                    전체
                </li>
                <li class="nav-item layout-g-fltr-item">
                    디자인/광고
                </li>
                <li class="nav-item layout-g-fltr-item">
                    그룹/기업
                </li>
            </ul>
        </div>
        <div class="layout-g-fltr-nav dropdown">
            <button class="layout-g-fltr-nav-bnt dropdown-toggle" type="button"data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                전체보기
            </button>
            <div class="collapse layout-g-fltr-nav-card" id="collapseExample">
                <div class="layout-g-fltr-nav-card-body">
                    <ul>
                        <li class="layout-g-fltr-nav-card-li"><a class="layout-g-fltr-nav-card-item" href="#">TEST1</a></li>
                        <li class="layout-g-fltr-nav-card-li"><a class="layout-g-fltr-nav-card-item" href="#">TEST2</a></li>
                        <li class="layout-g-fltr-nav-card-li"><a class="layout-g-fltr-nav-card-item" href="#">TEST3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-contents-body">
        <table>
            <tr>
                <th class="board-thumbnail">
                    1번?
                    <div class="gall_image">
                        <!--<a href="사이트링크" target="_blank"></a>-->
                    </div>
                    <div class="gall_text">
                    </div>
                    <div class="gall_info">
                    </div>
                </th>
                <th class="board-thumbnail">
                    2번정보
                    <div class="gall_image">
                    </div>
                    <div class="gall_text">
                    </div>
                    <div class="gall_info">
                    </div>
                </th>
                <th class="board-thumbnail">
                    3번정보
                    <div class="gall_image">
                    </div>
                    <div class="gall_text">
                    </div>
                    <div class="gall_info">
                    </div>
                </th>
                <th class="board-thumbnail">
                    4번정보
                    <div class="gall_image">
                    </div>
                    <div class="gall_text">
                    </div>
                    <div class="gall_info">
                    </div>
                </th>
            </tr>
            <tr>
                <th>5번정보</th>
                <th>6번정보</th>
            </tr>
        </table>
    </div>
    <div class="layout-contents-search">
        검색
    </div>
    <div class="layout-contents-pages">
        페이지
    </div>
</div>