<footer class="py-3 my-4">
    <div class="row border-bottom border-top .layout-footer-menu">
        <div class="col-5 px-0 my-2">
            게시판위치입니다
        </div>
        <div class="col px-0">
            <ul class="nav justify-content-end my-2">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black font-ft-link fw-bold">고객센터</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black font-ft-link fw-bold">사이트 등록신청</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black font-ft-link fw-bold">이 사이트에 광고하기</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black font-ft-link fw-bold">개인정보처리방침</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black font-ft-link fw-bold">서비스이용약관</a></li>
            </ul>
        </div>
    </div>
    <div class="text-center my-3"><img src="/static/img/ft_logo.png" class="img-fluid"></div>
    <div class="font-ft-copyright text-center">
        Copyright © 
        <b>DBCUT.com</b>
        All rights reserved.</div>
</footer>
</div>
