<div class="layout-header-tnb row">
    <div class="col">
        <ul class="nav nav-tabs ms-2">
            <li class="nav-item">
                <a class="nav-link active font-note-main" href="#">
                    <i class="bi bi-house-fill"></i>
                    커뮤니티
                </a>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="nav justify-content-end ms-2">
            <li class="nav-item border-start">
                <a class="nav-link active font-note-main" href="#">
                    <i class="bi bi-box-arrow-in-right"></i>
                    로그인
                </a>
            </li>
            <li class="nav-item border-start">
                <a class="nav-link active font-note-main" href="#">
                    <i class="bi bi-person-plus-fill"></i>
                    회원가입
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="layout-header-mid row">
    <div class="layout-header-logo col">
        <img src="/static/img/logo.png" class="img-fluid" alt="디비컷 - 웹디자인 평가 및 우수 웹사이트 모음">
        <a href="#"></a>
    </div>
    <div class="layout-header-search-bar row col">
        <input type="text" class="form-control col align-self-center" placeholder="검색어를 입력해주세요">
    </div>
    <div class="col">
        <ul class="nav justify-content-end ms-2">
            <li class="nav-item">
                <a class="nav-link active font-note-main" href="#">
                    <i class="bi bi-journals"></i>
                    FAQ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active font-note-main" href="#">
                    <i class="bi bi-chat-text-fill"></i>
                    1:1문의
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active font-note-main" href="#">
                    <i class="bi bi-person-lines-fill"></i>
                    접속자
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active font-note-main" href="#">
                    <i class="bi bi-arrow-clockwise"></i>
                    새글
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="layout-header-menu-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>메뉴테스트1</div>
        <div>메뉴테스트2</div>
        <div>메뉴테스트2</div>
        <div>메뉴테스트2</div>
        <div>메뉴테스트2</div>
        <div>메뉴테스트2</div>
        <div>메뉴테스트2</div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled">Disabled</a>
            </div>
        </div>
        </div>
    </nav>
</div>
